.headerlogo {
  display: inline-block;
  padding: 0;
  margin: 0 9px 0 83px;
  height: 15px;
  width: 15px;
  background: url("../../img/s-logo-cs5-white.svg");
  background-repeat: no-repeat;
  /* Following lines hide the text */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}