.header-wrap {
  display: flex;
  position: relative;
  height: 37px;
  color: white;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37px;
}

.header-right {
  display: flex;
  justify-content: center;
}
