.forgotpassword-wrap {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgotpassword-logo {
  margin: 39px 0 0 0;
}

.forgotpassword-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forgotpassword-copy {
  margin: 18px 0 12px 0;
  text-align: center;
  margin-top: 6px;
}

.forgotpassword-buttons {
  width: 328px;
  display: flex;
  justify-content: space-between;
}
